<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<main class="container">
    <form id="app" data-campos='[{ "descripcion": "", "subcampos": [{ "descripcion": "", "unidad": "", "cantidad": "", "valor": "", "subTotalCampo": 0 }] }]'>
        <h1>
            Datos para cotizar
        </h1>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <button type="button" v-on:click="addCampoNuevo" class="btn btn-block btn-success">
                    Add +
                </button>
            </div>
        </div>
        <div v-for="(apartment, index) in campos">
            <div class="row">
                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <div class="col-md-3">
                        <button type="button" v-on:click="addSubCampoNuevo(index)" class="btn btn-block btn-success">
                            Add +
                        </button>
                        <button type="button" v-on:click="borrarCampo(index)" class="btn btn-block btn-danger">
                             x
                        </button>
                    </div>
                </div>
                <div class="form-group col-md-2" style="padding-top: 30px;">
                    <label>{{ index + 1 }}</label>
                </div>
                <div class="form-group col-md-10">
                    <label>Descripción</label>
                    <input v-model="apartment.descripcion"
                           :name="'campos[' + index + '][descripcion]'"
                           type="text"
                           class="form-control" placeholder="Descripción">
                </div>
            </div>
            <div v-for="(subcampo, index2) in campos[index].subcampos ">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" v-on:click="borrarSubCampo(index,index2)" class="btn btn-block btn-danger">
                             x
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2" style="padding-top: 30px;">
                        <label>{{ index + 1 }}.{{ index2 + 1 }}</label>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Descripción</label>
                        <input v-model="subcampo.descripcion"
                               :name="'campos[' + index + '].subcampo[' + index2 + '][descripcion]'"
                               type="text"
                               class="form-control" placeholder="Descripción">
                    </div>
                    <div class="form-group col-md-1">
                        <label>Unidad</label>
                        <input v-model="subcampo.unidad"
                               :name="'campos[' + index + '].subcampo[' + index2 + '][unidad]'"
                               type="text"
                               class="form-control" placeholder="UN">
                    </div>
                    <div class="form-group col-md-1">
                        <label>Cantidad</label>
                        <input v-model="subcampo.cantidad"
                               :name="'campos[' + index + '].subcampo[' + index2 + '][cantidad]'"
                               type="number"
                               class="form-control" placeholder="#">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Valor</label>
                        <input v-model="subcampo.valor"
                               :name="'campos[' + index + '].subcampo[' + index2 + '][valor]'"
                               type="number"
                               class="form-control" placeholder="Valor">
                    </div>
                    <div class="form-group col-md-2 valorNeto" style="padding-top: 2%;">
                         <label style="display: none;"> {{ totalLinea(index, index2) }} </label>
                        <input v-model="subcampo.subTotalCampo"
                               :name="'campos[' + index + '].subcampo[' + index2 + '][subTotalCampo]'"
                               type="number"
                               class="form-control" placeholder="total" readonly="true" >
                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="button" v-on:click="addCampoNuevo" class="btn btn-block btn-success">
                    Agregar +
                </button>
            </div>
            <div class="col-md-10">
                Datos para cotizar
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" v-on:click.prevent="sumbitForm" class="btn btn-block btn-primary">
                    Submit
                </button>
            </div>
            <div class="col-md-10 text-right">
                <div class="row">
                    <div class="col-md-10 ">
                        Neto:
                    </div>
                    <div class="col-md-2 ">
                        <label>$ {{ totalSinIva() }} .-</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        IVA:
                    </div>
                    <div class="col-md-2">
                        <label>$ {{ valorIva() }} .-</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        Total:
                    </div>
                    <div class="col-md-2">
                        <label>$ {{ totalConIva() }} .-</label>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <pre>{{ $data }}</pre>
    </form>
</main>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js" integrity="sha256-sawP1sLkcaA4YQJQWAtjahamgG6brGmaIJWRhYwDfno=" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- <script src="https://unpkg.com/vue"></script> -->
<script src="index.js"></script>

<!-- OPTIONAL jQuery and serializeJSON plugin used just for testing submit output -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.8.1/jquery.serializejson.min.js"
        integrity="sha256-ISyOXVU6LCErg/1h8JdyxEqn43II16+tP6jamegGpOI=" crossorigin="anonymous"></script>
<!-- END OF OPTIONAL -->

</body>
</html>